<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [mapTypeControl]="true" [mapTypeId]="typ">
  <agm-marker [latitude]="59.326242" [longitude]="17.8419719">
    <agm-info-window>Example</agm-info-window>
  </agm-marker>

  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
  </agm-circle>
</agm-map>